
.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    text-decoration: none;
    border-radius: 30px;
    margin:1em
}

.option:hover{
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

h5{
    color:var(--dark-grey);
}

.option:hover h5{
    color:black;    
}

@media(max-width:1000px){
    #options{
        flex-direction: column;
    }
}

/* ---------------------------------------------------------------------------- */
/* loading icon "https://codepen.io/vineethtrv/pen/NWxZqMM" */

#loading-container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

  .loader-38 {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    color: white;
    -webkit-animation: rotation 1s linear infinite;
            animation: rotation 1s linear infinite;
  }
  .loader-38:after, .loader-38:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: scale(0.5) translate(0, 0);
    background-color: #F1B791;
    border-radius: 50%;
    -webkit-animation: animloader38 1s infinite ease-in-out;
            animation: animloader38 1s infinite ease-in-out;
  }
  .loader-38:before {
    background-color: #32717E;
    transform: scale(0.5) translate(-48px, -48px);
  }

  @-webkit-keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes animloader38 {
    50% {
      transform: scale(1) translate(-50%, -50%);
    }
  }

  @keyframes animloader38 {
    50% {
      transform: scale(1) translate(-50%, -50%);
    }
  }
