

.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    text-decoration: none;
    border-radius: 30px;
    margin:1em
}

.option:hover{
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

h5{
    color:var(--dark-grey);
}

.option h5{
    position: relative;
}

.option:hover h5{
    color:black;    
}

.option h5:after{
    content:'';
    position: absolute;
    top: 125%;
    left: 0;
    width:0;
    height: 2px;
    background-color:black;
    transition: width 0.3s ease-in-out;
}
.option:hover h5::after{
    width: 100%;
}

@media(max-width:1000px){
    #options{
        flex-direction: column;
    }
}

